body {
    font-family: "Segoe UI", sans-serif;
    background: #000;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 350px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

h2 { text-align: center; }

label { font-size: 15px; }

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

input, select { background: #111; color: #fff; }

button {
    background: #0ea5e9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { background: #0284c7; }
